<div class="w-col w-col-5 index-set" style="float:POSITION; height: 100%; margin-bottom: 30px; width:48%">
  <a href="NewsPages/LINK GO HERE.html" style="text-decoration: none;">
    <div class="white-box index-set">
      <img src="../Images/MM_Final.png" alt="" class="news-image" style="max-height:150px; max-width:150px; padding: 10px;"/>
      <h3 class="box-title">Munkee's Magic Moment | Day NUMBER</h3>
      <p>Munkee Man has released the Magic Moment of the NUMBER day of the tournament!</p>
      <h5>DATE</h5>
    </div>
  </a>
</div>