<div class="w-col w-col-5 index-set" style="float:POSITION; height: 100%; margin-bottom: 30px; width:48%">
    <a href="NewsPages/LINK GO HERE.html" style="text-decoration: none;">
      <div class="white-box index-set" style="background-color: black;">
        <img src="../Images/Logo.png" alt="" class="news-image" style="max-height:135px; max-width:135px; padding: 15px;"/>
        <img src="../Images/LG_Final.png" alt="" class="news-image" style="max-height:135px; max-width:135px; padding: 15px;"/>
        <img src="../Images/WW_Final.png" alt="" class="news-image" style="max-height:135px; max-width:135px; padding: 15px;"/>
        <img src="../Images/5M_Final.png" alt="" class="news-image" style="max-height:135px; max-width:135px; padding: 15px;"/>
        <h3 class="box-title">All Lunch Team | Day NUMBER</h3>
        <p>Clarrie Jones has announced his All-Lunch top 5 offensive and defensive players of the NUMBER day of the tournament.</p>
        <h5>DATE</h5>
      </div>
    </a>
  </div>