<div class="w-col w-col-5 index-set" style="float: POSITION; height: 100%; margin-bottom: 30px; width:48%">
  <a href="NewsPages/PAGE GO HERE.html" style="text-decoration: none;">
    <div class="white-box index-set" style="background-color: rgb(230,230,230);">
      <br>
      <br>
      <br>
      <h3 class="box-title" style="color: black">Willie's Play of the Day | Day NUMBER</h3>
      <p style="color: black"></p>William Weekes of the Wet Willies has announced NUMBER, play of the day.</p>
      <h5 style="color: black">DATE</h5>
    </div>
  </a>
</div>